*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}

h1 #datos{
    padding-top: 2%;
    padding-bottom: 4%;
    text-align: center;
}

.flecha-back{ 
    top: 8vw;
    width: 5%;
    height: 3vw;
    margin-left: 2%;
    margin-top: 4%;
}

#flecha:hover{
    cursor: pointer;
    transform: transla;
    box-shadow: 4px 30px 6px 0px rgba(50, 50, 50, 0.45);
}


#divv{
    font-size: 2em;  
    margin-top: 5%; 
    text-align: center;
}

#contactar{
    float: right;
    text-align: center;
    font-weight: bold;
    margin-right: 2vw;
    transition-duration: 0.3s;
    background-color: darkgray;
    border-color: #888;
    border-radius: 5px 7px 7px 5px;
    padding: 2vw 3vw;
    font-size: large;
    color: white;
    background-color: black;
}


#contactar:hover {
    background-color: #888; 
    color: black;
}
#primeraParte{
    display: block;
}

#segundaParte{
    display: block;
}

#terceraParte{
    display: inline;
}


#verMas{
    padding-left: 2vw;
  
}

#iconosProp{
    display: inline;
    height: 2vw;
    width: 2vw;
    top: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
}

#seleccionar{
    text-align-last: right;
    margin-right: 20vw;
    margin-bottom: 5vw;
    display: inline;
}


#ordenar{
    height: 2vw;
    width: 10vw;
    font-size: 1.2vw;
    text-align-last: left;
}


#ordenarpor{
    text-align-last: center;
    margin-left: 5%;
    padding-left: 10%; 
    display: inline;
}

.espaciado{
    margin-bottom: 5px;
    height: 30px;
    background-color: white;
}

#dormit{
    padding-left: 2%;
}

img{
    width: 6%;
}


#parrafo0{
    padding-top:6vw; 
    text-align: left;
    font-size: 2vw;
    padding-left: 3vw;
    font-weight: bold;
    font-family: revert;
}

#parrafo{
    padding-top:3vw;
    padding-bottom: 10px; 
    text-align: left;
    padding-left: 3vw;
    font-size: 2vw;
    font-weight: bold;
   font-family: revert;
}
   
 #ubicacion #items{
       padding-bottom: 5px;
       padding-top:5px; 
       padding-left: 40px;
       float: left; 
       font-size: 1.5vw;
       font-weight: 600;
}

#caracteristicas #items{
       padding-bottom: 5px;
       padding-top:5px; 
       padding-left: 40px;
       float: left;
       font-size: 1.5vw;
       font-weight: 600;
}


body {
    background-image: url('/Images/fondo-busqueda.jpg'); /*antes estaba la de formularios*/
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

/*------------RESPONSIVE-------------------------------------*/

@media screen and (max-width: 950px){

.flecha-back{ 
    top: 8vw;
    width: 10%;
    height: 3vw;
    margin-left: 2vw;
    
}

#flecha:hover{
    cursor: pointer;
    transform: transla;
    box-shadow: 4px 30px 6px 0px rgba(50, 50, 50, 0.45);
}

#div{
    border-style: inset;
    border-color: crimson;
    font-family: initial;
    padding-left: 0vw;
    padding-right: 0vw;
    padding-top: 2vw;
    padding-bottom: 9vw;
    margin-top: 4vw;

}

#divv{
    font-size: 1em;  
    margin-top: 5%; 
    text-align: center;    
}

#contactar{
    float: right;
    height:8vw; 
    font-size: 4vw;
    text-align-last: center;
    font-weight: bold;
    margin-right: 2vw;
}

#contactar {
    float: initial;
    text-align: center;
    margin-top: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
    padding: 1vw 2vw;
}

#primeraParte{
    display: block;
    font-size: 4vw;

}

#segundaParte{
    display: block;
    font-size: 4vw;
}

#terceraParte{
    display: inline;
    font-size: 4vw;
}


#ubicacion #items{
    padding-bottom: 5px;
    padding-top:5px; 
    padding-left: 4%;
    float: left; 
    font-size: 3vw;
    font-weight: 600;
}

#caracteristicas #items{
    padding-bottom: 5px;
    padding-top:5px; 
    padding-left: 4%;
    float: left;
    font-size: 3vw;
    font-weight: 600;
}

#parrafo0{
    padding-top:6vw; 
    text-align: left;
    font-size: 4vw;
    padding-left: 3vw;
    font-weight: bold;
    font-family: revert;
    margin-top: 6vw;
}

#parrafo{
    padding-top:3vw;
    padding-bottom: 10px; 
    text-align: left;
    padding-left: 3vw;
    font-size: 4vw;
    font-weight: bold;
   font-family: revert;
}

#verMas{
    padding-left: 2vw;
    display: block;
}

#iconosProp{
    display: inline;
    height: 4vw;
    width: 5vw;
    top: 1vw;
    margin-bottom: 1vw;

}

#seleccionar{
    text-align-last: right;
    margin-right: 20vw;
    margin-bottom: 5vw;
    display: inline;
}


#ordenar{
    height: 5%;
    width: 30%;
    font-size: 90%;
    text-align-last: left;
    padding: 0px;
}

#ordenarpor{
    text-align-last: center;
    display: inline;
    margin-left: 0px;
}

body {
    background-image: url('/Images/fondo-formularios.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}


#iconmenu{
    display: block;
    color: #fff;
    font-size: 4vw;
    font-weight: bold;
    width: 30px;
    height:  initial;
}

#iconmenu:hover{
    cursor: pointer;
}


header label{
    display: contents;
    width: 30px;
    height: 30px;
    padding: 10px;
}


#datos{
    margin-top: 5vw;
    font-size: 5vw;
    font-family: fantasy;
}

}