*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}


body {
    margin-top: 6%;
    background-color: darkgray;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

#t01 th{
    font-family: sans-serif;
    box-sizing: border-box;
    text-align: left;
}


#datos{
    margin-top: 5vw;
    font-size: 3vw;
    font-family: sans-serif;
}

/*----------------------RESPONSIVE---------------------*/

@media screen and (max-width: 950px){


body {
    background-color: darkgray;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}


table{
    margin: 0 auto;
}

th{
    text-align: center;
    padding: 1%;
    padding-left: 1px;
    font-size: 80%;
}

td{
    text-align: left;
    padding-left: 1px;
    padding-right: 0px;
    font-size: 80%;
}

#t01 tr:nth-child(even) {
    background-color: #fff;
}

#t01 tr:nth-child(odd) {
    background-color: #BDBCB2;
}

#t01 th {
    background-color: black;
    color: white;
}

}