*{
    margin : 0;
    padding: 0;
   
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    margin-top: 3.7%;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: white;
    background-attachment: fixed;
    background-position: center;
}

h1{
    padding-top: 5%;
    padding-bottom: 4%;
    text-align: center;
}
/*-------------HEADER--------------*/

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #262626;
    width: 100%;
    box-sizing: border-box;
    z-index: 6000;

}

header .logo{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav{
    float: right;
}

header nav ul{
    margin:0;
    padding:0;
    display: flex;
}

header nav ul li{
    list-style: none;
    position: relative;
}

header nav ul li.sub-menu:before{
    content:'\f0d7 ';
    position: absolute;
    font-family: fontAwesome;
    line-height: 50px;
    color: #fff;
    right: 5px;
}

header nav ul li.active.sub-menu:before{
    content:'\f0d8 ';
}

header nav ul li ul{
    position: absolute;
    left: 0;
    background: rgb(196, 40, 40);
    display: none;
}

header nav ul li.active ul{
    display: block;
}

header nav ul li ul li{
    display: block;
    width: 200px;
}

header nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.active{
    color: #fff;
    background: rgb(224, 47, 47);;
}

.menu-toggle{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}


/*--------------MAIN--------------*/

main #cuadroBusqueda{
    width: 100%;
    padding: 0 45px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 5000;
    padding-right: 0px;
    padding-left: 0px;
}

main #cuadroBusqueda form{
    padding: 30px 10px;
    background-color: rgba(72,69,64,.7);
    border-radius: 8px;
    margin-top: 150px;
    margin-left: 120px;
    margin-right: 70px;
    box-sizing: border-box;
    max-width: 1050px;
    position: relative;
    z-index: 5000;
    padding-left: 30px;
    padding-right: 30px;
}

#cuadroBusqueda h1{
    background-color: indianred;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
}

/*---------------------IMAGENES DE PORTADA-----------------*/

#slideshow-principal{
	position: relative;
	overflow: hidden;
    margin-bottom: 1%;
}

#progress-bar-container{
	position: absolute;
	height: 1%;
	background-color: rgba(0, 0, 0, 2);
	width: 100%;
	top:0;
	z-index: 1000;
}

#progress-bar{
	height: 100%;
	background-color: rgba(228, 69, 69, 0.7);
	border-radius: 0 3px 3px 0;
	transition: width 0.8;
}

#slideshow{
	position: relative;
	z-index: 998;
	height: 500px;
}

img{
    position: relative;
    height: 100%;
    width:100%;
    top: 0;
    left: 0;
    object-fit: cover;

}

.imgportada{
	position: fixed;
	height: 100%;
	width:100%;
	top: 0;
	left: 0;
	object-fit: fill;
}

#img2{
	/*left: 100%;*/
	opacity: 0;
}

.active{
	/*left: 0 !important;*/
	opacity: 1 !important;
    transition: all 1s;
    z-index: 2000;
}

#indicadores{
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 5%;
	z-index: 999;
}

.circles{
	border: white 2px solid;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 0 1% 0 1%;
	background-color: transparent;
	border-radius: 50%;
}


.resaltado{
	background-color: rgba(228, 69, 69, 1);
	transition: background-color .8s;
}


#enfila{
    width: 170px;
    height: 20%;
    font-size: 20px;
    float: left;
    display: block;
    margin-top: 20px;
}

#botonBuscar{
    float: right;
    width: 20%;
    height: 20%;
    font-size: 20px;
    padding-right:30%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-top: 10px;


}

 #enfila select{
        border: 1;
        opacity: 1;
        margin-top: 6%;
        padding: 5px;
        font-size: 14px;
        margin-bottom: 20px;
        margin-right: 2px;
        margin-left: 5px;
        width: 145px;
        border-radius: 5px 7px 7px 5px;

}


#enfila input[type="text"]{
        border: 1;
        opacity: 1;
        margin-top: 6%;
        padding: 5px;
        font-size: 14px;
        margin-bottom: 20px;
        margin-right: 2px;
        margin-left: 5px;
        width: 140px;
        border-radius: 5px 7px 7px 5px;

}

#localidad{
        border: 1;
        opacity: 0.8;
        cursor: pointer;
        margin-top: 6%;
        padding: 5px;
        font-size: 15px;
        margin-bottom: 20px;

}


/*----------------------------VISTA ABOUT-----------------------*/


#about section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about #section_1{
    padding: 4% 3%;
}

#about #section_2{
    padding: 4% 3%;
}

#about #section_3{
    padding: 5% 3%;
}

#about h2{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

#about p{
    /*font-weight: 300;*/
    text-align:center;
    margin-bottom: 15px;
}

#about a{
    display: inline-block;
    padding: 7px 0;
    color: rgb(14, 12, 12);
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50px;
    background: white;
}

#about #section_1 img{
    width: 60%;
    height: 60%;
}

#about #section_2 img{
    width: 40%;
    height: 40%;
}

#about #section_3 img{
    width: 60%;
    height: 60%;
}

#about section:nth-child(1){
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

#about section:nth-child(2){
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

#about section:nth-child(3){
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

/*------------------------VISTA DE REGISTRO DE USUARIO----------------*/


#registroUser{
    margin-top: 18%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-size: 120%;
    font-weight: bold;

}

    #registroUser legend{
    margin-bottom: 2%;
}


/*-----------------------VISTA DE LOGIN DE USUARIO----------------------*/

*{
margin: 0;
padding: 0;
font-family: sans-serif;
box-sizing: border-box;

}

.formulario{
margin: auto;
margin-top: 8%;
width: 50%;
max-width: 90%;
background:#F3F3F3;
padding: 30px;
border:1px solid rgba(0,0,0,2); 
margin-bottom: 8%;
background-color: indianred;
}

h2{
text-align:center;
margin-bottom: 20px;
}

.entrada{
    display:block;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    font-size: 20px;
}


input[type="submit"], input[type="reset"]{
    border: 1;
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 20px;
    border-radius: 5px 7px 7px 5px;
}


/*-----------------------VISTA MOFIDICAR DATOS DE USUARIO USUARIO----------------------*/

#vistaModificar{
    margin-top: 18%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

#vistaModificar legend{
    margin-bottom: 2%;
}

/*----------------------BOTONES FORMULARIOS-----------------------*/


/*-------------------------VISTA NUEVA PUBLICACION------------*/
#nuevaPublicacion{
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

#nuevaPublicacion legend{
    margin-bottom: 2%;
}


/*--------------------DATOS INCORRECTOS------------------------*/

#datosIncorrectos{
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    background-color: red;
    margin-top: 1%;
}

/*--------------------------- VISTA CERRAR SESION-------------------------*/

#fueraSesion{
    text-align: center;

}

#candado{
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        width: 20%;
        height: 20%;
}

/*---------------------VISTA LUEGO DEL REGISTRO DE USUARIO-------------*/

#usuarioRegistrado{
    text-align: center;
    font-size: 50px;

}

#check{
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        width: 20%;
        height: 20%;
}

/*---------------------VISTA LUEGO DE INICIO DE SESIÓN-------------*/

#iniSesion{
    text-align: center;
    font-size: 50px;

}

#candadoAbierto{
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        width: 20%;
        height: 20%;
}

/*-----------------------------MOSTRAR DATOS--------------*/

    table{
        margin: 0 auto;   
    }

    th{
        padding: 1%;
        margin-right: 3%;
    }

    td{
        text-align: center;
        margin:2%;
    }

    #t01 tr:nth-child(even) {
        background-color: #fff;
    }

    #t01 tr:nth-child(odd) {
        background-color: #BDBCB2;
    }

    #t01 th {
        background-color: black;
        color: white;
    }

    #tr1{
        background-color: red;
    }

    #datos{
        margin-top: 100px;
    }

    .espaciado{
        margin-bottom: 5px;
        height: 30px;
    }

    #dormit{
        padding-left: 2%;
    }

/*-----------------------MAPA-------------------------*/
    #map{
        height: 580px;
        width: 70%;
        box-shadow: 5px 5px 5px #888;
        display:block;
        margin:auto;
    }

/*-------------------FORMULARIO PARA CARGAR PROPIEDADES--------------*/

.formulario{
margin-top: 50px;
}


.formulario #publi input[type="text"]{
padding: 0px;
margin-top: 10px;
margin-bottom: 10px;
font-size: 17px;
}
/*------------------------MODIFICAR DATOS-----------------------*/
.formulario #publi1 input[type="number"],
.formulario #publi1 input[type="text"],
.formulario #publi1 input[type="password"],
.formulario #publi1 input[type="email"]{
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    opacity: 1;
}
/*------------------------------------------------------------------------*/

.formulario input[type="text"]{
padding: 10px;
margin-top: 10px;
margin-bottom: 10px;
font-size: 17px;
}

h3{
text-align: center;
padding-bottom: 5px;
}

.formulario input[type="number"]{
padding: 0px;
margin-top: 10px;
margin-bottom: 10px;
font-size: 17px;
width: 200px;
opacity: 0.8;
}

.formulario input[type="radio"]{
padding-left:  0px;
margin-top: 10px;
margin-bottom: 10px;
font-size: 17px;

}

.formulario label{
padding-right: 20px;
}


/*---------------------IMAGEN 404---------------------------*/

    #imagenError h2{
        text-align: center;
        font-size: 50px;
        margin-left: 50px;
        z-index: 400;
        position: relative;
        padding-top: 100px;
    } 

    #imagenError img{
        z-index: 300;
        position: fixed;
    }    

/*------------------BOTON VER PROPIEDAD(PORTADA)---------*/
    
#botonVerPropiedad input{
    z-index: 7000;
    position: relative;
    margin-right: 10%;
    margin-bottom: 10%;
    width: 150px;
    height: 40px;
    float: right;
    background-color: red;
    border-color:black;
    opacity: 1;
}


/*----------------------RESPONSIVE---------------------*/

@media screen and (max-width: 900px){
    
    header{
        padding: 0 20px;
        position: fixed;
    }

    .menu-toggle{
        display: block;
    }

    header nav{
        position: absolute;
        width: 100%;
        height: calc(100vj - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active{
        left: 0;
    }

    header nav ul{
        display: block;
        text-align: center;
    }

    header nav ul li a{
        border-bottom: 1px solid rgba(0,0,0,.2);
    }

    header nav ul li.active ul{
        position: relative;
        background: rgb(196, 40, 40);
    }

    header nav ul li ul li{
        width: 100%;
    }

   /*---------responsive imagenes-------------*/

   body{
    margin-top: 6%;
   }
        
    .circles{
        border: white 0px solid;
        width: 0px;
        height: 0px;
        display: inline-block;
        margin: 0 1% 0 1%;
        background-color: transparent;
       
    }

    .active{
        /*left: 0 !important;*/
        opacity: 1 !important;
        transition: all 1s;
        z-index: 2000;
    }


    #botonBuscar{
        float: none;
        margin-left: 3px;
    }

    img{
       max-width: 100%;
       background-size: 50% 50%; 
       width:100%;
       top: 0;
       left: 0;
       object-fit: fill;
       padding-bottom: 0;
    }


    #img2{
        left: 100%;
     
    }

    #slideshow{
    position: initial;
    z-index: 998;
    height: 500px;
    }


    .formulario{
        width: 95%;
        margin-top: 20%;
    }



/*----------------------------VISTA ABOUT-----------------------*/

    #about{
        width: 100%;
        height: 100%;
    }

    #about section{
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
    }

    #about section > img{
        height: 25%;
        padding-top: 5%;
    }

    #about .contenedor-texto {
        text-align: center;
        
    }


/*--------------------------------INDEX--------------------------*/
    h1{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: left;
        font-size: 15px;
        margin-left: 7px;

    }

    fieldset{
        border-right-width: 0px;
        border-left-width: 0px;
    }



    select{
        border: 1;
        opacity: 0.8;
        cursor: pointer;
        margin-bottom: 0;
        margin-top: 6%;
        margin-left: 3px;
        padding: 5px;
        font-size: 15px;
        margin-bottom: 10px;
        width: 212px;
        height: 32px;
    }


    input[type="text"]{
        border: 1;
        opacity: 0.8;
        cursor: pointer;
        margin-bottom: 0;
        margin-top: 6%;
        margin-left: 3px;
        padding: 2px;
        font-size: 8px;
        margin-bottom: 10px;
    }

    textarea{
        width: 245px;
    }

    #enfila{
        width: 112px;
        height: 10%;
        font-size: 20px;
        float: none;
        padding-right:15%;
        
    }

    #enfila select{
        border: 1;
        opacity: 0.8;
        cursor: pointer;
        margin-bottom: 0;
        margin-top: 6%;
        margin-left: 3px;
        padding: 0px;
        font-size: 15px;
        margin-bottom: 10px;
        width: 45vw;
        height: 7vw;
    }


    #enfila input[type="text"]{
        border: 1;
        opacity: 0.8;
        cursor: pointer;
        margin-bottom: 0;
        margin-top: 6%;
        margin-left: 3px;
        padding: 2px;
        font-size: 15px;
        margin-bottom: 10px;
        width: 45vw;
        height: 8vw;
    }
/*--------------MAIN--------------*/

main #cuadroBusqueda{
    width: 100%;
    padding: 0 45px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 5000;
    padding-right: 0px;
    padding-left: 0px;
}

main #cuadroBusqueda form{
    padding: 30px 10px;
    background-color: rgba(72,69,64,.7);
    border-radius: 8px;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    max-width: 1050px;
    position: relative;
    z-index: 5000;
    padding-left: 30px;
    padding-right: 30px;
}

#cuadroBusqueda h1{
    background-color: indianred;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 0px;
    margin-top: 10%;
    text-align: center;
}

/*----------------------------------------VISTA FUERA DE SESIÓN---------------*/
    #fueraSesion{
        top: 30px;
        position: relative;
    }


/*----------------------------------------VISTA INICIO DE SESIÓN---------------*/
    #iniSesion{
        top: 30px;
        position: relative;
        font-size: 5vw;
    }

/*-------------------------------H2 DE LOS FORMULARIOS-------------------*/
    #tituloP{
        font-size: 4vw;
        top: 35px;
        position: relative;
        margin-left: 3px;

    }    

/*---------------------IMAGEN 404---------------------------*/

    #imagenError h2{
        text-align: center;
        font-size: 200%;
        margin-left: 30px;
        z-index: 400;
        position: relative;
        padding-top: 100px;
    } 

    #imagenError img{
        z-index: 300;
        
    }    

/*-----------------------------MOSTRAR DATOS--------------*/

    table{
        margin: 0 auto;
    }

    th{
        text-align: left;
        padding: 1%;
        padding-left: 1px;
        font-size: 80%;
    }

    td{
        text-align: left;
        padding-left: 1px;
        padding-right: 0px;
        font-size: 80%;
    }

    #t01 tr:nth-child(even) {
        background-color: #fff;
    }

    #t01 tr:nth-child(odd) {
        background-color: #BDBCB2;
    }

    #t01 th {
        background-color: black;
        color: white;
    }
/*------------------BOTON VER PROPIEDAD(PORTADA)---------*/
    
#botonVerPropiedad input{
    z-index: 7000;
    position: relative;
    margin-right: 10%;
    margin-bottom: 10%;
    width: 150px;
    height: 40px;
    float: right;
    background-color: red;
    border-color:black;
    opacity: 1;
    top: 30px;
}


}