*{
    margin : 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    margin-top: 3.7%;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: white;
    background-attachment: fixed;
    background-position: center;
}

h1{
    padding-top: 5%;
    padding-bottom: 4%;
    text-align: center;
}
/*-------------HEADER--------------*/

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    background: #262626;
    width: 100%;
    box-sizing: border-box;
    z-index: 6000;
    padding-left: 0.5%;
    padding-right: 9%;

}


header .logo{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 4vw;
    float: left;
    font-weight: bold;
}



header nav{
    float: right;
}

header nav ul{
    margin:0;
    padding:0;
    display: flex;
}

header nav ul li{
    list-style: none;
    position: relative;
}
/*
header nav ul li.sub-menu:before{
    content:'\f0d7 ';
    position: absolute;
    font-family: fontAwesome;
    line-height: 50px;
    color: #fff;
    right: 5px;
}

header nav ul li.active.sub-menu:before{
    content:'\f0d8 ';
}*/


header nav ul li ul{
    position: absolute;
    left: 0;
    background: darkgray;
    display: none;
}

header nav ul li.active ul{
    display: block;
}

header nav ul li ul li{
    display: block;
    width: 200px;
}

header nav ul li a{
    max-height: fit-content; 
    line-height: 50px;
    padding: 0 1vw;
    color: #fff;
    text-decoration: none;
    display: block;
    
}

header nav li:hover > ul{
    color: #fff;
    background:black;
    display:block;
}

header nav li a:hover{
    background-color:darkgray;
}

.menu-toggle{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}


/*--------------MAIN--------------*/

main #cuadroBusqueda{
    width: 100%;
    padding: 0 45px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 5000;
    padding-right: 0px;
    padding-left: 0px;
}

main #cuadroBusqueda form{
    padding: 30px 10px;
    background-color: rgba(72,69,64,.7);
    border-radius: 8px;
    margin-top: 150px;
    margin-left: 120px;
    margin-right: 70px;
    box-sizing: border-box;
    max-width: 1050px;
    position: relative;
    z-index: 5000;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
}

#cuadroBusqueda h1{
    background-color: darkgray;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
    margin-top: 14px;
}

/*---------------------IMAGENES DE PORTADA-----------------*/

#slideshow-principal{
	position: relative;
	overflow: hidden;
    margin-bottom: 1%;
}

#progress-bar-container{
	position: absolute;
	height: 1%;
	background-color: rgba(0, 0, 0, 2);
	width: 100%;
	top:0;
	z-index: 1000;
}

#progress-bar{
	height: 100%;
	background-color: rgba(228, 69, 69, 0.7);
	border-radius: 0 3px 3px 0;
	transition: width 0.8;
}

#slideshow{
	position: relative;
	z-index: 998;
	height: 500px;
}
/*
img{
    position: relative;
    height: 100%;
    width:100%;
    top: 0;
    left: 0;
    object-fit: cover;

}*/

.imgportada{
	position: fixed;
	height: 100%;
	width:100%;
	top: 0;
	left: 0;
	object-fit: fill;
}

#img2{
	/*left: 100%;*/
	opacity: 0;
}


.active{
	/*left: 0 !important;*/
	opacity: 1 !important;
    /*transition: all 1s;*/
    z-index: 2000;
} 


#indicadores{
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 5%;
	z-index: 999;
}

.circles{
	border: white 2px solid;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 0 1% 0 1%;
	background-color: transparent;
	border-radius: 50%;
}


.resaltado{
	background-color: rgba(228, 69, 69, 1);
	transition: background-color .8s;
}


#enfila{
    width: 170px;
    height: 20%;
    font-size: 20px;
    float: left;
    display: block;
    margin-top: 20px;
}

#botonBuscar{
    float: right;
    width: 20%;
    height: 20%;
    font-size: 20px;
    padding-right:3%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-top: 10px;


}

 #enfila select{
        border: 1;
        opacity: 1;
        margin-top: 6%;
        padding: 5px;
        font-size: 14px;
        margin-bottom: 20px;
        margin-right: 2px;
        margin-left: 5px;
        width: 145px;
        border-radius: 5px 7px 7px 5px;

}


#enfila input[type="text"]{
        opacity: 1;
        margin-top: 6%;
        padding: 5px;
        font-size: 14px;
        margin-bottom: 20px;
        margin-right: 2px;
        margin-left: 5px;
        width: 140px;
        border-radius: 5px 7px 7px 5px;

}

#localidad{
        border: 1;
        opacity: 0.8;
        cursor: pointer;
        margin-top: 6%;
        padding: 5px;
        font-size: 15px;
        margin-bottom: 20px;

}


/*----------------------------VISTA ABOUT-----------------------*/


#about section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about #section_1{
    padding: 4% 3%;
    padding-left: 0px;
    padding-right: 0px;
}

#about #section_2{
    padding: 4% 3%;
    padding-left: 0px;
    padding-right: 0px;
}

#about #section_3{
    padding: 4% 3%;
    padding-left: 0px;
    padding-right: 0px;
}

#about h2{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

#about p{
    /*font-weight: 300;*/
    text-align: center;
    margin-bottom: 15px;
    margin-left: 2%;
    margin-top: 3%;
    margin-right: 2%;
    
}

#about a{
    display: inline-block;
    padding: 7px 0;
    color: rgb(14, 12, 12);
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50px;
    background: white;
    margin-left: 3%;
}

#about #section_1 img{
    width: 60%;
    height: 60%;
}

#about #section_2 img{
    width: 40%;
    height: 40%;
}

#about #section_3 img{
    width: 60%;
    height: 60%;
}

#about section:nth-child(1){
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

#about section:nth-child(2){
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

#about section:nth-child(3){
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

/*------------------------VISTA DE REGISTRO DE USUARIO----------------*/


#registroUser{
    margin-top: 18%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-size: 120%;
    font-weight: bold;

}

    #registroUser legend{
    margin-bottom: 2%;
}


/*-----------------------VISTA DE LOGIN DE USUARIO----------------------*/




/*-----------------------VISTA MOFIDICAR DATOS DE USUARIO USUARIO----------------------*/

#vistaModificar{
    margin-top: 18%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

#vistaModificar legend{
    margin-bottom: 2%;
}

/*----------------------BOTONES FORMULARIOS-----------------------*/


/*-------------------------VISTA NUEVA PUBLICACION------------*/
#nuevaPublicacion{
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

#nuevaPublicacion legend{
    margin-bottom: 2%;
}


/*--------------------DATOS INCORRECTOS------------------------*/

#datosIncorrectos{
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    background-color: red;
    margin-top: 1%;
}

/*--------------------------- VISTA CERRAR SESION-------------------------*/

#fueraSesion{
    text-align: center;

}

#candado{
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        width: 20%;
        height: 20%;
}

/*---------------------VISTA LUEGO DEL REGISTRO DE USUARIO-------------*/

#usuarioRegistrado{
    text-align: center;
    font-size: 50px;

}

#check{
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        width: 20%;
        height: 20%;
}

/*---------------------VISTA LUEGO DE INICIO DE SESIÓN-------------*/

#iniSesion{
    text-align: center;
    font-size: 50px;

}

#candadoAbierto{
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        width: 20%;
        height: 20%;
}


/*-----------------------MAPA-------------------------*/
    #map{
        height: 30vw;
        width: 60vw;
        box-shadow: 5px 5px 5px #888;
        display:block;
        margin:5vw;
        top: 35px;
        position: relative;
        float: none;
    }


/*---------------------IMAGEN 404---------------------------*/

    #imagenError h2{
        text-align: center;
        font-size: 50px;
        margin-left: 50px;
        z-index: 400;
        position: relative;
        padding-top: 100px;
    } 

    #imagenError img{
        z-index: 300;
        position: fixed;
    }    

/*------------------BOTON VER PROPIEDAD(PORTADA)---------*/
    
    #botonVerPropiedad input{
        z-index: 7000;
        position: relative;
        margin-right: 10%;
        margin-bottom: 10%;
        width: 150px;
        height: 40px;
        float: right;
        background-color: white;
        border-color:black;
        opacity: 1;
        border-radius: 5px 7px 7px 5px;
        font-weight: bold;
    }

/*-----------------------------MOSTRAR DATOS--------------*/
/*
.espaciado{
    margin-bottom: 5px;
    height: 30px;
    background-color: white;
}

#dormit{
    padding-left: 2%;
}
*/


#iconmenu{
    display: none;
}

#btn-menu{
    display: none;
}

/*----------------------RESPONSIVE---------------------*/

@media screen and (max-width: 950px){
   
    /* 
    header{
        padding-left:3%;
        padding-right: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        position: fixed;
    }

    .menu-toggle{
        display: block;
    }

    header nav{
        position: absolute;
        width: 100%;
        height: calc(100vj - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }

    header nav.active{
        left: 0;
    }

    header nav ul{
        display: block;
        text-align: center;
    }

    header nav ul li a{
        border-bottom: 1px solid rgba(0,0,0,.2);
    }

    header nav ul li.active ul{
        position: relative;
        background: rgb(196, 40, 40);
    }

    header nav ul li ul li{
        width: 100%;
    }
*/
    /*---------------------------PRUEBA-------------------*/
    header{
        width: 100%;
        margin-right: 0px;
    }


   /*---------responsive imagenes-------------*/

     body{
        margin-top: 6%;
    }
        
    .circles{
        border: white 0px solid;
        width: 0px;
        height: 0px;
        display: inline-block;
        margin: 0 1% 0 1%;
        background-color: transparent;
       
    }

    .active{
        /*left: 0 !important;*/
        opacity: 1 !important;
        transition: all 1s;
        z-index: 2000;
    }


    #botonBuscar{
        float: none;
        margin-left: 3px;
    }

    img{
       max-width: 100%;
       background-size: 50% 50%; 
       width:100%;
       top: 0;
       left: 0;
       object-fit: fill;
       padding-bottom: 0;
    }


    #img2{
        left: 100%;
     
    }

    #slideshow{
        position: initial;
        z-index: 998;
        height: 500px;
    }


    .formulario{
        width: 95%;
        margin-top: 20%;
    }



/*----------------------------VISTA ABOUT-----------------------*/

    #about{
        width: 100%;
        height: 100%;
    }

    #about section{
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
    }

    #about h2 {
        font-size: 8vw;
        font-weight: 500;
        text-align: center;
    }

    #about section > img{
        height: 25%;
        padding-top: 5%;
    }

    #about .contenedor-texto {
        text-align: center;
        
    }


/*--------------------------------INDEX--------------------------*/
    h1{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: left;
        font-size: 15px;
        margin-left: 7px;

    }

    fieldset{
        border-right-width: 0px;
        border-left-width: 0px;
    }



    select{
        border: 1;
        opacity: 0.8;
        cursor: pointer;
        margin-bottom: 0;
        margin-top: 6%;
        margin-left: 3px;
        padding: 5px;
        font-size: 15px;
        margin-bottom: 10px;
        width: 212px;
        height: 32px;
    }


    #enfila{
        width: 12vw;
        height: 10%;
        font-size: 20px;
        float: none;
        padding-right:15%;
        
    }

    #enfila select{
        border: 1;
        opacity: 0.8;
        cursor: pointer;
        margin-bottom: 0;
        margin-top: 6%;
        margin-left: 3px;
        padding: 0px;
        font-size: 15px;
        margin-bottom: 10px;
        width: 45vw;
        height: 7vw;
    }


    #enfila input[type="text"]{
        opacity: 0.8;
        cursor: pointer;
        margin-bottom: 0;
        margin-top: 6%;
        margin-left: 3px;
        padding: 0px;
        font-size: 15px;
        margin-bottom: 10px;
        width: 45vw;
        height: 7vw;
    }
/*--------------MAIN--------------*/

    main #cuadroBusqueda{
        width: 100%;
        padding: 0 45px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        z-index: 5000;
        padding-right: 0px;
        padding-left: 0px;
    }

    main #cuadroBusqueda form{
        padding: 30px 10px;
        background-color: rgba(72,69,64,.7);
        border-radius: 8px;
        margin-top: 5vw;
        margin-left: 10px;
        margin-right: 10px;
        box-sizing: border-box;
        max-width: 1050px;
        position: relative;
        z-index: 5000;
        padding-left: 30px;
        padding-right: 30px;
    }

    #cuadroBusqueda h1{
        background-color: darkgray;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 40px;
        padding-bottom: 25px;
        margin-left: 0px;
        margin-top: 5.3vw;
        text-align: center;
        font-size: large;
    }

/*----------------------------------------VISTA FUERA DE SESIÓN---------------*/
    #fueraSesion{
        top: 30px;
        position: relative;
    }


/*----------------------------------------VISTA INICIO DE SESIÓN---------------*/
    #iniSesion{
        top: 30px;
        position: relative;
        font-size: 5vw;
    }

/*-------------------------------H2 DE LOS FORMULARIOS-------------------*/
    #tituloP{
        font-size: 4vw;
        top: 35px;
        position: relative;
        margin-left: 3px;
        margin-bottom: 5px;

    }    

/*---------------------IMAGEN 404---------------------------*/

    #imagenError h2{
        text-align: center;
        font-size: 200%;
        margin-left: 30px;
        z-index: 400;
        position: relative;
        padding-top: 100px;
    } 

    #imagenError img{
        z-index: 300;
        
    }    


/*------------------BOTON VER PROPIEDAD(PORTADA)---------*/
    
    #botonVerPropiedad input{
        z-index: 7000;
        position: relative;
        margin-right: 10%;
        margin-bottom: 10%;
        margin-top: 10%;
        width: 150px;
        height: 40px;
        float: right;
        background-color: white;
        border-color:black;
        opacity: 1;
        border-radius: 5px 7px 7px 5px;
        font-weight: bold;
    }


/*-----------------------------MOSTRAR DATOS--------------*/

    #datos{
        margin-top: 5vw;
        font-size: 2vw;
        font-family: fantasy;
    }

    .espaciado{
        margin-bottom: 5vw;
        background-color: white;
    }

    #dormit{
        padding-left: 2%;
    }

    h1 {
        padding-top: 6%;
        text-align: center;
    }

    #btn-menu{
        float: left;
    }   
    
    header label{
        display: contents;
        width: 30px;
        height: 30px;
        padding: 10px;
    }

    .menu ul{
        margin: 0;
        list-style: none;
        padding: 0;
    }

    .menu li:hover{
        background: rgba(0, 0, 0, 0.3);
    }

    .menu li a{
        display:block;
        color: #fff;
        text-decoration:none;
    }

    header label{
        display:block;
    }

    .menu{
        position: absolute;
        background: black;
        width: 45%;
        margin-left: -45%;
        transition: all;
        text-align: left;
    }

    .menu ul{
        flex-direction:column ;

    }

    #btn-menu:checked ~ .menu {
        margin: 0;

    }

    #iconmenu{
        display: block;
        color: #fff;
        font-size: 4vw;
        font-weight: bold;
        width: 30px;
        height:  initial;
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 1.5%;
    }
  
    #iconmenu:hover{
        cursor: pointer;
    }

    header {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: absolute;
        top: 0;
        left: 0;
        background: #262626;
        width: 100%;
        box-sizing: border-box;
        z-index: 6000;
        padding-right: 6%;
        padding-left: 0px; 
    }

    header .logo {
        color: #fff;
        height: 50px;
        line-height: 50px;
        font-size: 4vw;
        float:right;
        font-weight: bold;
        margin-left: 3%;
        margin-top: 1%;
    }


    .menu li ul li{
        position: relative;
    }

    header .menu ul li ul li:hover{
        cursor:pointer;
    }

    header .menu ul li ul li{
        background-color:black;
        transition: all;
        z-index: 9000;
        text-decoration: none;
        width: 100%;
        position: sticky;
        display: block;
        margin-left: 100%;
        float: left;
    }


}