<div class="logo">PROPIEDADESYA</div>
    
<nav>
    <ul>
        <li><a href="/" class="active">Inicio</a></li>
        <li><a href="/about">Quienes Somos?</a></li>
        <li class="sub-menu"><a href="#">Comprar</a>
            <ul>
                <li><a href="/Comprar/casa">Casa</a></li>
                <li><a href="/Comprar/depto">Departamento</a></li>
                <li><a href="/Comprar/galpon">Galpon</a></li>
                <li><a href="/Comprar/local">Local</a></li>
                <li><a href="/Comprar/lote">Terreno</a></li>
            </ul>
        </li>
        <li class="sub-menu"><a href="#">Alquilar</a>
            <ul>
                <li><a href="/Alquilar/casa">Casa</a></li>
                <li><a href="/Alquilar/depto">Departamento</a></li>
                <li><a href="/Alquilar/galpon">Galpon</a></li>
                <li><a href="/Alquilar/local">Local</a></li>
            </ul>
        </li>

        {% if inicio %}
        <li class="sub-menu"><a href="#">Perfil</a>
            <ul>
                <li><a href="/publicacion/registroProp">Ingresar Propiedad</a></li>
                <li><a href="/users/datos">Datos Personales</a></li>
                <li><a href="/users/ModificarDatos">Modificar Datos</a></li>
                <li><a href="/users/cerrarSesion">Cerrar Sesion</a></li>
            </ul>
        </li>
        {% else %}
        <li><a href="/users">Ingresar</a></li>
        <li><a href="/users/registrarse">Registrarse</a></li>
        {% endif %}
            
    </ul>
</nav>

<div class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></div>
