<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">Quienes Somos?</a></li>
        <li><a href="/Comprar">Comprar</a>
            <ul>
                <li><a href="/Comprar/casa">Casa</a></li>
                <li><a href="/Comprar/depto">Departamento</a></li>
                <li><a href="/Comprar/galpon">Galpon</a></li>
                <li><a href="/Comprar/local">Local</a></li>
                <li><a href="/Comprar/lote">Terreno</a></li>
            </ul>
        </li>
        <li><a href="/Alquilar">Alquilar</a>
            <ul>
                <li><a href="/Alquilar/casa">Casa</a></li>
                <li><a href="/Alquilar/depto">Departamento</a></li>
                <li><a href="/Alquilar/galpon">Galpon</a></li>
                <li><a href="/Alquilar/local">Local</a></li>
            </ul>
        </li>
        <li><a href="/users/cerrarSesion">Cerrar Sesion</a></li>
    </ul>
</nav>
