{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<main id="about">
<h2>¿Que es PropWeb?</h2>
<p>Somos un portal inmobiliario que piensa en los usuarios, 
    que se adapta a los cambios, que mira hacia el futuro. 
    Una herramienta indispensable para cualquier profesional del sector inmobiliario. 
    Un escaparate para las personas que buscan un nuevo hogar.</p>

<h2>Encontrá el hogar perfecto</h2>
<p>Buscá, encontra y dejale un mesaje el propietario desde tu celular o computador. Podés buscar en el listado de ofertas filtrando por alquiler o compra, tipo de inmueble, entre otros criterios.</p> 

<h2>Publicá tus propiedades</h2>
<p>Tambien podes ingresar tus propiedades facilmente si queres vender o alquilar.</p>

</main>
{% endblock %}
