{% extends "base.html" %}

{% block title %}Lista de Tareas{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">

{% endblock %}

{% block main %}
<h2 id="tituloP">Resultados de Busqueda</h2>
<table>

    <tr>
    {% for propiedad in propiedades %}
    
        <th>Direccion</th><td>{{propiedad.direccion}}</td>
        <th>Localidad</th><td>{{propiedad.localidad}}</td>
        <th>Provincia</th><td>{{propiedad.provincia}}</td>
    </tr>
    <tr>
        {% if propiedad.supTotal is not empty %}
            <th>Superficie Total</th><td>{{propiedad.supTotal}}</td>
        {% endif %}
    
        {% if propiedad.supCub is not empty %}
            <th>Superficie Cubierta</th><td>{{propiedad.supCub}}</td>
        {% endif %}

        {% if propiedad.ambientes is not empty %}
            <th>Ambientes</th><td>{{propiedad.ambientes}}</td>
        {% endif %}
    </tr>
    <tr>
        {% if propiedad.dormitorios is not empty %}
            <th>Dormitorios</th><td id="dormit">{{propiedad.dormitorios}}</td>
        {% endif %}

        {% if propiedad.baños is not empty %}
            <th>Baños</th><td>{{propiedad.baños}}</td>
        {% endif %}
    
        {% if propiedad.precio is not empty %}
            <th>Precio</th><td>${{propiedad.precio}}</td>
        {% endif %}
    </tr>
    <tr>
    <th><a href="/publicacion/Ver?id={{propiedad.id_p}}">Ver Mas</a></th><br>
    </tr>
    <tr class="espaciado"></tr>

    {% else %}

    </table>
        <span>No hay resultados en la busqueda</span>
    {% endfor %}
    


{% endblock %}