{% extends "base.html" %}

{% block title %}Lista de Tareas{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="Propiedades,compra,alquiler,casa,departamento,local,galpon,cochera,quinta">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />

{% endblock %}

{% block main %}
<h1 id="tituloP">Resultados de Busqueda</h1>
  
    {% for propiedad in propiedades %}
    
        <th>Direccion</th><td>{{propiedad.direccion}}</td>
        <th>Localidad</th><td>{{propiedad.localidad}}</td>
        <th>Provincia</th><td>{{propiedad.provincia}}</td>
    
   
        {% if propiedad.supTotal is not empty %}
            <th>Superficie Total</th><td>{{propiedad.supTotal}}</td>
        {% endif %}
    
        {% if propiedad.supCub is not empty %}
            <th>Superficie Cubierta</th><td>{{propiedad.supCub}}</td>
        {% endif %}

        {% if propiedad.ambientes is not empty %}
            <th>Ambientes</th><td>{{propiedad.ambientes}}</td>
        {% endif %}
   
    
        {% if propiedad.dormitorios is not empty %}
            <th>Dormitorios</th><td id="dormit">{{propiedad.dormitorios}}</td>
        {% endif %}

        {% if propiedad.baños is not empty %}
            <th>Baños</th><td>{{propiedad.baños}}</td>
        {% endif %}
    
        {% if propiedad.precio is not empty %}
            <th>Precio</th><td>${{propiedad.precio}}</td>
        {% endif %}
 
  
    <th><a href="/publicacion/Ver?id={{propiedad.id_p}}">Ver Mas</a></th><br>
    <th><input type="button" name="button" value="Contactar"></th>
 
    <p class="espaciado"></p>

    {% else %}

        <span>No hay resultados en la busqueda</span>
    {% endfor %}
    


{% endblock %}