{% extends "base.html" %}

{% block title %}Lista de Tareas{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">

{% endblock %}

{% block main %}
<h2>Resultados de Busqueda</h2>

<ul>
    <li>
    {% for propiedad in propiedades %}
    
        <dt>Direccion:</dt><dl>{{propiedad.direccion}}</dl>
        <dt>Localidad:</dt><dl>{{propiedad.localidad}}</dl>
        <dt>Provincia:</dt><dl>{{propiedad.provincia}}</dl>

        {% if propiedad.supTotal is not empty %}
            <dt>Superficie Total:</dt><dl>{{propiedad.supTotal}}</dl>
        {% endif %}

        {% if propiedad.supCub is not empty %}
            <dt>Superficie Cubierta:</dt><dl>{{propiedad.supCub}}</dl>
        {% endif %}

        {% if propiedad.ambientes is not empty %}
            <dt>Ambientes:</dt><dl>{{propiedad.ambientes}}</dl>
        {% endif %}

        {% if propiedad.dormitorios is not empty %}
            <dt>Dormitorios:</dt><dl>{{propiedad.dormitorios}}</dl>
        {% endif %}

        {% if propiedad.baños is not empty %}
            <dt>Baños:</dt><dl>{{propiedad.baños}}</dl>
        {% endif %}

        {% if propiedad.precio is not empty %}
            <dt>Precio:</dt><dl>${{propiedad.precio}}</dl>
        {% endif %}

    <a href="/publicacion/Ver?id={{propiedad.id_p}}">Ver Mas</a>
    {% else %}
        <span>No hay resultados en la busqueda</span>
    {% endfor %}
    </li>
<ul>

{% endblock %}