<!doctype html>
  <html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Compartir</title>

		<link rel="stylesheet" href="./css/estilosCompartir.css">

	</head>
	<body>
		
		<h1>Comparta su publicación en las redes sociales</h1>
		<!-- Genera botones-->
		<div class="botones-row" id="redes">
			<!--Facebook-->
			<div class="boton-fb" id="redes"></div>
				<a href="javascript:var dir=window.document.URL;var tit=window.document.title;var tit2=encodeURIComponent(tit);var dir2= encodeURIComponent(dir);window.location.href=('http://www.facebook.com/share.php?u='+dir2+'&amp;t='+tit2+'');">Compartir en Facebook</a>
			
			<!--Twitter-->
			<div class="boton-twitter" id="redes"></div>
			
			<!--Google + -->
			<div class="boton-google-plus" id="redes"></div>
			<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
				</script>
				<script type="text/javascript">
				function renderPlusone() {gapi.plusone.render("plusone-div");}
				window.onload=function()
				{renderPlusone();}
				</script>
			
			<!--Linkedin -->
			<div class="boton-linkedin" id="redes"></div>
				<a href="javascript:void(window.open('http://www.linkedin.com/shareArticle?url='+encodeURIComponent(location),'','width=600,height=400,left=50,top=50'));"></a><br>

			<!--Pinterest-->
			<div class="boton-pinterest" id="redes"></div>
				<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
			
		</div>
		 
		<script src="js/funciones.js"></script>
	</body>
</html>
