{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}
        {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<div id="busquedaindex">
    <form action="/busqueda" method="POST" enctype="multipart/form-data">
        <fieldset>
            <h1>Propiedades en venta y alquiler</h1>
            <article>
                <input type="text" id="localidad" name="localidad" maxlength="20" pattern="[A-Za-zÀ-ž\s]{3,20}" placeholder="Localidad">
            </article>

            <article>
                <select id="operacion" name="operacion">
                    <option disabled selected>Seleccione una Operación</option>
                    <option value="compra">Compra</option>
                    <option value="alquiler">Alquiler</option>
                </select>
            </article>

            <article>
                <select id="tipoProp" name="tipoProp">
                    <option disabled selected>Seleccione tipo de Propiedad</option>
                    <option value="casa">Casa</option>
                    <option value="departamento">Departamento</option>
                    <option value="lote">Lote</option>
                    <option value="galpón">Galpón</option>
                    <option value="local">Local</option>
                    <option value="quinta">Quinta</option>
                    <option value="cochera">Cochera</option>
                </select>
            </article>
            
            <article>
                <input type="submit" name="submit" value="Buscar">
            </article>
        </fieldset>
    </form>
</div>
{% endblock %}

