{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}
        {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="Propiedades,compra,alquiler,busqueda">
    <meta property="og:site_name" content="PropWeb" />
    <meta property="og:title" content="Propiedades en venta y alquiler" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:url" content="http://wwww.propWeb.com/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
<div id="busquedaindex">
    <div id="cuadroBusqueda">
        <h1>Propiedades en venta y alquiler</h1>
        <form action="/busqueda" method="POST" enctype="multipart/form-data">
            <fieldset>
                <div id="enfila">
                    <input type="text" id="localidad" name="localidad" maxlength="20" pattern="[A-Za-zÀ-ž\s]{3,20}" placeholder="Localidad">
                </div>

                <div id="enfila">
                    <select id="operacion" name="operacion">
                        <option disabled selected>Seleccione una Operación</option>
                        <option value="compra">Compra</option>
                        <option value="alquiler">Alquiler</option>
                    </select>
                </div>

                <div id="enfila">
                    <select id="tipoProp" name="tipoProp">
                        <option disabled selected>Seleccione tipo de Propiedad</option>
                        <option value="casa">Casa</option>
                        <option value="departamento">Departamento</option>
                        <option value="galpón">Galpón</option>
                        <option value="local">Local</option>
                        <option value="quinta">Quinta</option>
                        <option value="cochera">Cochera</option>
                    </select>
                </div>
                
                <div id="botonBuscar">
                    <input type="submit" name="submit" value="Buscar"  style ="height: 40px; width: 80px;">
                </div>
            </fieldset>
        </form>
    </div>

    <div id="slideshow-principal">
        <div id="progress-bar-container">
            <div id="progress-bar"></div>
        </div>
        <div id="slideshow">
            <img src="" alt="" id="img1" class="imgportada">
            <img src="" alt="" id="img2" class="imgportada">
        </div>

            <div id="botonVerPropiedad">
                <input type="button" name="button" value="Ver Propiedad">
            </div>

        <div id="indicadores"></div>
    </div>
    
    <script src="js/script.js"></script>  
</div>


{% endblock %}

