{% extends "base.html" %}

{% block title %}Datos Propiedad{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"/>
    <script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>
{% endblock %}

{% block main %}
<h2 id="datos">Detalles</h2>
<table id="t01">
    <tr>
        <th>Dirección</th><td>{{propiedad.direccion}}</td>
    </tr>

    <tr>
        <th>Localidad</th><td>{{propiedad.localidad}}</td>
    </tr>

    <tr>
        <th>Provincia</th><td>{{propiedad.provincia}}</td>
    </tr>

    <tr>
        {% if propiedad.supTotal is not empty %}
        <th>Superficie Total</th><td>{{propiedad.supTotal}}</td>
        {% endif %}
    </tr>

    <tr>
        {% if propiedad.supCub is not empty %}
        <th>Superficie Cubierta</th><td>{{propiedad.supCub}}</td>
        {% endif %}
    </tr>

    <tr>
        {% if propiedad.piso is not empty %}
        <th>Piso</th><td>{{propiedad.piso}}</td>
        {% endif %}
    </tr>

    <tr>
        {% if propiedad.ambientes is not empty %}
        <th>Ambientes</th><td>{{propiedad.ambientes}}</td>
        {% endif %}
    </tr>

    <tr>
        {% if propiedad.dormitorios is not empty %}
        <th>Dormitorios</th><td>{{propiedad.dormitorios}}</td>
        {% endif %}
    </tr>

    <tr>
        {% if propiedad.baños is not empty %}
        <th>Baños</th><td>{{propiedad.baños}}</td>
        {% endif %}
    </tr>

    <tr>
        {% if propiedad.patio is not empty %}
        <th>Patio</th><td>{{propiedad.patio}}</td>
        {% endif %}
    </tr>

    <tr>
        {% if propiedad.piscina is not empty %} 
        <th>Piscina</th><td>{{propiedad.piscina}}</td>
        {% endif %}
    </tr>

    <tr>
        {% if propiedad.garage is not empty %}
        <th>Garage</th><td>{{propiedad.garage}}</td>
        {% endif %}
    </tr>

    <tr>
        {% if propiedad.parrilla is not empty %}
        <th>Parrilla</th><td>{{propiedad.parrilla}}</td>
        {% endif %}
    </tr>

    <tr>
        {% if propiedad.quincho is not empty %}
        <th>Quincho</th><td>{{propiedad.quincho}}</td>
        {% endif %}
    </tr>

    <tr>
        {% if propiedad.antiguedad is not empty %}
        <th>Antiguedad</th><td>{{propiedad.antiguedad}}</td>
        {% endif %}
    </tr>

    <tr>
        {% if propiedad.precio is not empty %}
        <th>Precio</th><td>{{propiedad.precio}}</td>
        {% endif %}
    </tr>

    <tr>
        {% if propiedad.expensas is not empty %}
        <th>Expensas</th><td>{{propiedad.expensas}}</td>
        {% endif %}
    </tr>

    <tr>
        {% if propiedad.moneda is not empty %}
        <th>Moneda</th><td>{{propiedad.moneda}}</td>
        {% endif %}
    </tr>

    <tr>
        {% if propiedad.descripcion is not empty %}
        <th>Descripción</th><td>{{propiedad.descripcion}}</td>
        {% endif %}
    </tr>
</table>

<div id="map"></div>

<script>
    // Initialize map to specified coordinates
    var map = L.map('map', {
      center: [51.5, -0.1], //lat long
      zoom: 15
    });

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      subdomains: ['a', 'b', 'c']
    }).addTo(map);

    var query_addr = "{{propiedad.direccion}}, {{propiedad.localidad}}, {{propiedad.provincia}}";
    
    const provider = new window.GeoSearch.OpenStreetMapProvider()
    var query_promise = provider.search({
      query: query_addr
    });

    query_promise.then(value => {
        // Success!
        var x_coor = value[0].x;
        var y_coor = value[0].y;
        var label = value[0].label;
        var marker = L.marker([y_coor, x_coor]).addTo(map) //lat long
        marker.bindPopup("<b>Found location</b><br>" + label).openPopup(); 
        map.panTo(new L.LatLng(y_coor, x_coor)); //desplazar mapa a la ubicacion del marcador
    }, reason => {
      console.log(reason); // Error!
    });
  </script>

</section>

{% endblock %}