{% extends "base.html" %}

{% block title %}Datos Propiedad{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"/>
    <script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>
    <link rel="stylesheet" href="/public/css/detalle.css">
{% endblock %}

{% block main %}

<img src="/Images/arrow_back-24px.svg"  class="flecha-back" id="flecha" border="0" onclick="history.back();">
<h1 id="datos">DETALLES</h1>
   
    <p id="parrafo">Características de la propiedad</p>
    <div id="caracteristicas">
        {% if propiedad.supTotal is not empty %}
        <div id="items">Superficie Total: {{propiedad.supTotal}}</div>
        {% endif %}

        {% if propiedad.supCub is not empty %}
        <div id="items">Superficie Cubierta: {{propiedad.supCub}}</div>
        {% endif %}

        {% if propiedad.piso is not empty %}
        <div id="items">Piso: {{propiedad.piso}}</div>
        {% endif %}

        {% if propiedad.ambientes is not empty %}
        <div id="items">Ambientes: {{propiedad.ambientes}}</div>
        {% endif %}

        {% if propiedad.dormitorios is not empty %}
        <div id="items">Dormitorios: {{propiedad.dormitorios}}</div>
        {% endif %}

        {% if propiedad.baños is not empty %}
        <div id="items">Baños: {{propiedad.baños}}</div>
        {% endif %}

        {% if propiedad.patio is not empty %}
        <div id="items">Patio: {{propiedad.patio}}</div>
        {% endif %}

        {% if propiedad.piscina is not empty %} 
        <div id="items">Piscina: {{propiedad.piscina}}</div>
        {% endif %}
    
        {% if propiedad.garage is not empty %}
        <div id="items">Garage: {{propiedad.garage}}</div>
        {% endif %}

        {% if propiedad.parrilla is not empty %}
        <div id="items">Parrilla: {{propiedad.parrilla}}</div>
        {% endif %}

        {% if propiedad.quincho is not empty %}
        <div id="items">Quincho: {{propiedad.quincho}}</div>
        {% endif %}

        {% if propiedad.antiguedad is not empty %}
        <div id="items">Antiguedad: {{propiedad.antiguedad}} años</div>
        {% endif %}

        {% if propiedad.precio is not empty %}
        <div id="items">Precio: {{propiedad.precio}}</div>
        {% endif %}

        {% if propiedad.expensas is not empty %}
        <div id="items">Expensas: {{propiedad.expensas}}</div>
        {% endif %}

        {% if propiedad.moneda is not empty %}
        <div id="items">Moneda: {{propiedad.moneda}}</div>
        {% endif %}

        {% if propiedad.descripcion is not empty %}
        <div id="items">Descripción: {{propiedad.descripcion}}</div>
        {% endif %}
    </div>

    <p id="parrafo0">Ubicación</p>
    <div id="ubicacion">    
        <div id="items">Dirección: {{propiedad.direccion}}</div>

        <div id="items">Localidad: {{propiedad.localidad}}</div>

        <div id="items">Provincia: {{propiedad.provincia}}</div>
    </div>


<div id="map"></div>

<script>
    // Initialize map to specified coordinates
    var map = L.map('map', {
      center: [51.5, -0.1], //lat long
      zoom: 15
    });

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      subdomains: ['a', 'b', 'c']
    }).addTo(map);

    var query_addr = "{{propiedad.direccion}}, {{propiedad.localidad}}, {{propiedad.provincia}}";
    
    const provider = new window.GeoSearch.OpenStreetMapProvider()
    var query_promise = provider.search({
      query: query_addr
    });

    query_promise.then(value => {
        // Success!
        var x_coor = value[0].x;
        var y_coor = value[0].y;
        var label = value[0].label;
        var marker = L.marker([y_coor, x_coor]).addTo(map) //lat long
        marker.bindPopup("<b>Found location</b><br>" + label).openPopup(); 
        map.panTo(new L.LatLng(y_coor, x_coor)); //desplazar mapa a la ubicacion del marcador
    }, reason => {
      console.log(reason); // Error!
    });
  </script>

</section>

{% endblock %}