{% extends "base.html" %}

{% block title %}Datos Propiedad{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<h2>Propiedad Publicada correctamente</h2>
    <table>
        <tr>
            <th>Tipo Operacion</th><td>{{propiedad.tipo_operacion}}</td>
        </tr>

        <tr>
            <th>Categoria Propiedad</th><td>{{propiedad.tipo_propiedad}}</td>
        </tr>

        <tr>
            <th>Dirección</th><td>{{propiedad.direccion}}</td>
        </tr>

        <tr>
            <th>Localidad</th><td>{{propiedad.localidad}}</td>
        </tr>

        <tr>
            <th>Provincia</th><td>{{propiedad.provincia}}</td>            
        </tr>

        <tr>
            {% if propiedad.supTotal is not empty %}
            <th>Superficie Total</th><td>{{propiedad.supTotal}}</td>
            {% endif %}
        </tr>

        <tr>
            {% if propiedad.supCub is not empty %}
            <th>Superficie Cubierta</th><td>{{propiedad.supCub}}</td>
            {% endif %}
        </tr>
        
        <tr>
            {% if propiedad.piso is not empty %}
            <th>Piso</th><td>{{propiedad.piso}}</td>
            {% endif %}
        </tr>
        
        <tr>
            {% if propiedad.ambientes is not empty %}
            <th>Ambientes</th><td>{{propiedad.ambientes}}</td>
            {% endif %}
        </tr>
        
        <tr>
            {% if propiedad.dormitorios is not empty %}
            <th>Dormitorios</th><td>{{propiedad.dormitorios}}</td>
            {% endif %}
        </tr>

        <tr>
            {% if propiedad.baños is not empty %}
            <th>Baños</th><td>{{propiedad.baños}}</td>
            {% endif %}
        </tr>
        
        <tr>
            {% if propiedad.patio is not empty %}
            <th>Patio</th><td>{{propiedad.patio}}</td>
            {% endif %}
        </tr>
            
        <tr>
            {% if propiedad.piscina is not empty %} 
            <th>Piscina</th><td>{{propiedad.piscina}}</td>
            {% endif %}
        </tr>

        <tr>
            {% if propiedad.garage is not empty %}
            <th>Garage</th><td>{{propiedad.garage}}</td>
            {% endif %}
        </tr>

        <tr>
            {% if propiedad.parrilla is not empty %}
            <th>Parrilla</th><td>{{propiedad.parrilla}}</td>
            {% endif %}
        </tr>

        <tr>
            {% if propiedad.quincho is not empty %}
            <th>Quincho</th><td>{{propiedad.quincho}}</td>
            {% endif %}
        </tr>
        
        <tr>{% if propiedad.antiguedad is not empty %}
        <th>Antiguedad</th><td>{{propiedad.antiguedad}}</td>
        {% endif %}</tr>
        
        <tr>
        {% if propiedad.precio is not empty %}
        <th>Precio</th><td>{{propiedad.precio}}</td>
        {% endif %}</tr>
        
        <tr>
        {% if propiedad.expensas is not empty %}
        <th>Expensas</th><td>{{propiedad.expensas}}</td>
        {% endif %}</tr>
        
        <tr>{% if propiedad.moneda is not empty %}
        <th>Moneda</th><td>{{propiedad.moneda}}</td>
        {% endif %}
        </tr>
        
        <tr>{% if propiedad.descripcion is not empty %}
        <th>Descripcion</th><td>{{propiedad.descripcion}}</td>
        {% endif %}</tr>
    </table>
<section>
    <dl>
        

        
    <a href="/publicacion/registroProp">Ingresar Otra Propiedad</a>
    <a href="/">Volver a la pantalla inicial</a>

</section>
{% endblock %}
