{% extends "base.html" %}

{% block title %}Nueva publicación{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/publicaciones.css">
{% endblock %}

{% block main %}
    <h1 id="tituloP">Nueva Publicación -  ALQUILER DE GALPÓN</h1>
    <form action="/publicacion/insert" method="POST" enctype="multipart/form-data" class="formulario">
        
            <h2>Datos de la propiedad</h2>

            <input type="text" id="operacion" name="operacion" value={{operacion}} required hidden>
            <input type="text" id="propiedad" name="propiedad" value={{propiedad}} required hidden>

            <div id="publi">
                <label for="direccion">Dirección *</label>
                <input type="text" name="direccion" maxlength="20" pattern="[A-Za-zÀ-ž0-9\s]{3,20}" placeholder="Direc de la propiedad" value="{{ direccion }}" required>
            </div>

            <div id="publi">
                <label for="localidad">Localidad *</label>
                <input type="text" name="localidad" maxlength="20" pattern="[A-Za-zÀ-ž\s]{3,20}" placeholder="Localidad de la propiedad" value="{{ localidad }}" required>
            </div>

            <div id="publi">
                <label for="provincia">Provincia *</label>
                <select id="provincia" name="provincia">
                    <option value="BuenosAires">Buenos Aires</option>
                    <option value="Catamarca">Catamarca</option>
                    <option value="Chaco"> Chaco</option>
                    <option value="Chubut">Chubut</option>
                    <option value="Cordoba">Córdoba</option>
                    <option value="Corrientes">Corrientes</option>
                    <option value="EntreRios">Entre Ríos</option>
                    <option value="Formosa">Formosa</option>
                    <option value="Jujuy">Jujuy</option>
                    <option value="LaPampa">La Pampa</option>
                    <option value="LaRioja">La Rioja</option>
                    <option value="Mendoza">Mendoza</option>
                    <option value="Misiones">Misiones</option>
                    <option value="Neuquen">Neuquén</option>
                    <option value="RioNegro">Río Negro</option>
                    <option value="Salta">Salta</option>
                    <option value="SanJuan">San Juan</option>
                    <option value="SanLuis">San Luis</option>
                    <option value="SantaCruz">Santa Cruz</option>
                    <option value="SantaFe">Santa Fe</option>
                    <option value="SantiagoDelEstero">Santiago del Estero</option>
                    <option value="TierraDelFuego">Tierra del Fuego</option>
                    <option value="Tucuman">Tucumán</option>
                </select>
            </div>

            <div>
                <label for="supTotal">Sup.Total </label>
                <input type="number" name="supTotal"  placeholder="Superficie Total" value="{{ supTotal }}" >
            </div>

            <div>
                <label for="antiguedad">Antiguedad </label>
                <input type="number" name="antiguedad" placeholder="Años de antiguedad" value="{{ antiguedad }}" >
            </div>

            <div>
                <label for="precio">Alquiler </label>
                <input type="number" name="precio" placeholder="Precio de Alquiler" value="{{ precio }}" >
            </div>

            <div>
                <label for="moneda">Moneda </label>
                <input type="radio" name="moneda" value="dolar" >
                <label for="dolar">Dolar </label>
                <input type="radio" name="moneda" value="peso" >
                <label for="peso">Peso </label>
            </div>

            <div>
                <textarea name="descripcion" rows="10" cols="40" placeholder="Agregue una descripción aquí"></textarea>
            </div>

            <div>
                <label for="fotos">Fotos</label>
                <input type="file" id="fotos" name="fotos" accept=".jpg,.png" multiple>
            </div>

            <div>
                <input type="submit" name="submit" value="Enviar">
                <input type="reset" name="limpiar" value="Limpiar">
            </div>
            
            <p>
                * <small>Este dato es requerido</small>
            </p>
    </form>

    {% if errores is not empty %}
    <section class="Errores">
        <p>
            Campos Erroneos:
        </p>

        {% if errores['operacion'] %}
            <p>
                Operacion: {{ errores['operacion'] }}
            </p>
        {% endif %}

        {% if errores['propiedad'] %}
            <p>
                Propiedad: {{ errores['propiedad'] }}
            </p>
        {% endif %}

        {% if errores['direccion'] %}
            <p>
                Direccion: {{ errores['direccion'] }}
            </p>
        {% endif %}

        {% if errores['localidad'] %}
            <p>
                Localidad: {{ errores['localidad'] }}
            </p>
        {% endif %}

        {% if errores['provincia'] %}
                <p>
                    Provinicia: {{ errores['provincia'] }}
                </p>
        {% endif %}

        {% if errores['supTotal'] %}
            <p>
                Sup. Total: {{ errores['supTotal'] }}
            </p>
        {% endif %}

        {% if errores['antiguedad'] %}
            <p>
                Antiguedad: {{ errores['antiguedad'] }}
            </p>
        {% endif %}

        {% if errores['precio'] %}
            <p>
                Precio: {{ errores['precio'] }}
            </p>
        {% endif %}

        {% if errores['moneda'] %}
            <p>
                Moneda: {{ errores['moneda'] }}
            </p>
        {% endif %}

        {% if errores['descripcion'] %}
            <p>
                Descripcion: {{ errores['descripcion'] }}
            </p>
        {% endif %}
    </section>
{% endif %}
{% endblock %}