{% extends "base.html" %}

{% block title %}Nueva publicación: ALQUILER DE LOCAL{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
    <h2>Nueva Publicación</h2>
    <form action="/publicacion/insert" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>Datos de la propiedad</legend>

            <input type="text" name="operacion" value={{operacion}} required hidden>
            <input type="text" name="propiedad" value={{propiedad}} required hidden>
            
            <article>
                <label for="direccion">Direccion </label>
                <input type="text" name="direccion" maxlength="20" pattern="[A-Za-zÀ-ž0-9\s]{3,20}" placeholder="Direc de la propiedad" value="{{ direccion }}" required>
                *
            </article>

            <article>
                <label for="localidad">Localidad </label>
                <input type="text" name="localidad" maxlength="20" pattern="[A-Za-zÀ-ž\s]{3,20}" placeholder="Localidad de la propiedad" value="{{ localidad }}" required>
                *
            </article>

            <article>
                <label for="supTotal">Sup.Total </label>
                <input type="number" name="supTotal"  placeholder="Superficie Total" value="{{ supTotal }}" >
            </article>

            <article>
                <label for="baños">Baños </label>
                <input type="number" name="banios" min="1" max="5" placeholder="Cantidad de baños" value="{{ baños }}" >
            </article>

            <article>
                <label for="antiguedad">Antiguedad </label>
                <input type="number" name="antiguedad" placeholder="Años de antiguedad" value="{{ antiguedad }}" >
            </article>

            <article>
                <label for="precio">Alquiler </label>
                <input type="number" name="precio" placeholder="Precio de Alquiler" value="{{ precio }}" >
            </article>

            <article>
                <label for="expensas">Expensas </label>
                <input type="number" id="expensas" name="expensas" placeholder="Valor de expensas" value="{{ expensas }}" >
            </article>

            <article>
                <label for="moneda">Moneda </label>
                <input type="radio" name="moneda" value="dolar" >
                <label for="dolar">Dolar </label>
                <input type="radio" name="moneda" value="peso" >
                <label for="peso">Peso </label>
            </article>

            <article>
                <label>Descripción</label>
                <textarea name="descripcion" rows="10" cols="40"></textarea>
            </article>

            <article>
                <label for="fotos">Fotos</label>
                <input type="file" id="fotos" name="fotos" accept=".jpg,.png" multiple>
            </article>

            <article>
                * <small>Este dato es requerido</small>
            </article>

            <article>
                <input type="reset" name="limpiar" value="limpiar">
                <input type="submit" name="submit" value="Enviar">
            </article>
        </fieldset>
    </form>

    {% if errores is not empty %}
    <section class="Errores">
        <p>
            Campos Erroneos:
        </p>

        {% if errores['operacion'] %}
            <p>
                Operacion: {{ errores['operacion'] }}
            </p>
        {% endif %}

        {% if errores['propiedad'] %}
            <p>
                Propiedad: {{ errores['propiedad'] }}
            </p>
        {% endif %}

        {% if errores['direccion'] %}
            <p>
                Direccion: {{ errores['direccion'] }}
            </p>
        {% endif %}

        {% if errores['localidad'] %}
            <p>
                Localidad: {{ errores['localidad'] }}
            </p>
        {% endif %}

        {% if errores['supTotal'] %}
            <p>
                Sup. Total: {{ errores['supTotal'] }}
            </p>
        {% endif %}

        {% if errores['baños'] %}
            <p>
                Baños: {{ errores['baños'] }}
            </p>
        {% endif %}

        {% if errores['antiguedad'] %}
            <p>
                Antiguedad: {{ errores['antiguedad'] }}
            </p>
        {% endif %}

        {% if errores['precio'] %}
            <p>
                Precio: {{ errores['precio'] }}
            </p>
        {% endif %}

        {% if errores['expensas'] %}
            <p>
                Expensas: {{ errores['expensas'] }}
            </p>
        {% endif %}

        {% if errores['moneda'] %}
            <p>
                Moneda: {{ errores['moneda'] }}
            </p>
        {% endif %}

        {% if errores['descripcion'] %}
            <p>
                Descripcion: {{ errores['descripcion'] }}
            </p>
        {% endif %}
    </section>
{% endif %}
{% endblock %}