{% extends "base.html" %}

{% block title %}Nueva publicación{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
    <h2>Nueva Publicación -  ALQUILER DE CASA</h2>
    <form action="/publicacion/insert" method="POST" enctype="multipart/form-data" class="formulario">
        
            <h3>Datos de la propiedad</h3>
            
            <input type="text" name="operacion" value={{operacion}} required hidden>
            <input type="text" name="propiedad" value={{propiedad}} required hidden>
            
            <article id="publi">
                <label for="direccion">Dirección *</label>
                <input type="text" name="direccion" maxlength="20" pattern="[A-Za-zÀ-ž0-9\s]{3,20}" placeholder="Direc de la propiedad" value="{{ direccion }}" required>
            </article>

            <article id="publi">
                <label for="localidad">Localidad *</label>
                <input type="text" name="localidad" maxlength="20" pattern="[A-Za-zÀ-ž\s]{3,20}" placeholder="Localidad de la propiedad" value="{{ localidad }}" required>

            <article>
                <label for="provincia">Provincia *</label>
                <input type="text" name="provincia" maxlength="20" pattern="[A-Za-zÀ-ž\s]{3,20}" placeholder="Provincia" value="{{ provincia }}" required>
            </article>

            <article>
                <label for="supTotal">Sup.Total </label>
                <input type="number" name="supTotal"  placeholder="Superficie Total" value="{{ supTotal }}" >
            </article>

            <article>
                <label for="supCub">Sup.Cubierta </label>
                <input type="number" name="supCub" placeholder="Superficie Cubierta" value="{{ supCub }}" >
            </article>

             <article>
                <label for="ambientes">Ambientes </label>
                <input type="number" name="ambientes" min="1" max="15" placeholder="Cantidad de ambientes" value="{{ ambientes }}" >
            </article>

            <article>
                <label for="dormitorios">Dormitorios </label>
                <input type="number" name="dormitorios" min="1" max="20" placeholder="Cantidad de dormitorios" value="{{ dormitorios }}" >
            </article>

            <article>
                <label for="baños">Baños </label>
                <input type="number" name="banios" min="1" max="5" placeholder="Cantidad de baños" value="{{ baños }}" >
            </article>

            <article>
                <label for="patio">Patio </label>
                <input type="radio" name="patio" value="si" >
                <label for="si">Si </label>
                <input type="radio" name="patio" value="no" >
                <label for="no">No </label>
            </article>

            <article>
                <label for="piscina">Piscina </label>
                <input type="radio" name="piscina" value="si" >
                <label for="si">Si </label>
                <input type="radio" name="piscina" value="no" >
                <label for="no">No </label>
            </article>

            <article>
                <label for="garage">Garage </label>
                <input type="radio" name="garage" value="si" >
                <label for="si">Si </label>
                <input type="radio" name="garage" value="no" >
                <label for="no">No </label>
            </article>

            <article>
                <label for="parrilla">Parrilla </label>
                <input type="radio" name="parrilla" value="si" >
                <label for="si">Si </label>
                <input type="radio" name="parrilla" value="no" >
                <label for="no">No </label>
            </article>

            <article>
                <label for="antiguedad">Antiguedad </label>
                <input type="number" name="antiguedad" placeholder="Años de antiguedad" value="{{ antiguedad }}" >
            </article>

            <article>
                <label for="precio">Alquiler </label>
                <input type="number" name="precio" placeholder="Precio de Alquiler" value="{{ precio }}" >
            </article>

            <article>
                <label for="moneda">Moneda </label>
                <input type="radio" name="moneda" value="dolar" >
                <label for="dolar">Dolar </label>
                <input type="radio" name="moneda" value="peso" >
                <label for="peso">Peso </label>
            </article>

            <article>
                <textarea name="descripcion" rows="10" cols="40" placeholder="Agregue una descripción aquí"></textarea>
            </article>

            <article>
                <label for="fotos">Fotos</label>
                <input type="file" id="fotos" name="fotos" accept=".jpg,.png" multiple>
            </article>

            <article>
                <input type="submit" name="submit" value="Enviar">
                <input type="reset" name="limpiar" value="Limpiar">
            </article>
        
            <article>
                * <small>Este dato es requerido</small>
            </article>
    </form>

    {% if errores is not empty %}
        <section class="Errores">
            <p>
                Campos Erroneos:
            </p>

            {% if errores['operacion'] %}
                <p>
                    Operacion: {{ errores['operacion'] }}
                </p>
            {% endif %}

            {% if errores['propiedad'] %}
                <p>
                    Propiedad: {{ errores['propiedad'] }}
                </p>
            {% endif %}

            <!--COMPLETAR ERRORES-->

            {% if errores['direccion'] %}
                <p>
                    Direccion: {{ errores['direccion'] }}
                </p>
            {% endif %}

            {% if errores['localidad'] %}
                <p>
                    Localidad: {{ errores['localidad'] }}
                </p>
            {% endif %}

            {% if errores['supTotal'] %}
                <p>
                    Sup. Total: {{ errores['supTotal'] }}
                </p>
            {% endif %}

            {% if errores['supCub'] %}
                <p>
                    Sup Cubierta: {{ errores['supCub'] }}
                </p>
            {% endif %}

            {% if errores['piso'] %}
                <p>
                    Piso: {{ errores['piso'] }}
                </p>
            {% endif %}

            {% if errores['ambientes'] %}
                <p>
                    Ambientes: {{ errores['ambientes'] }}
                </p>
            {% endif %}

            {% if errores['dormitorios'] %}
                <p>
                    Dormitorios: {{ errores['dormitorios'] }}
                </p>
            {% endif %}

            {% if errores['baños'] %}
                <p>
                    Baños: {{ errores['baños'] }}
                </p>
            {% endif %}

            {% if errores['patio'] %}
                <p>
                    Patio: {{ errores['patio'] }}
                </p>
            {% endif %}

            {% if errores['piscina'] %}
                <p>
                    Piscina: {{ errores['piscina'] }}
                </p>
            {% endif %}

            {% if errores['garage'] %}
                <p>
                    Garage: {{ errores['garage'] }}
                </p>
            {% endif %}

            {% if errores['parrilla'] %}
                <p>
                    Parrilla: {{ errores['parrilla'] }}
                </p>
            {% endif %}

            {% if errores['antiguedad'] %}
                <p>
                    Antiguedad: {{ errores['antiguedad'] }}
                </p>
            {% endif %}

            {% if errores['precio'] %}
                <p>
                    Precio: {{ errores['precio'] }}
                </p>
            {% endif %}

            {% if errores['moneda'] %}
                <p>
                    Moneda: {{ errores['moneda'] }}
                </p>
            {% endif %}

            {% if errores['descripcion'] %}
                <p>
                    Descripcion: {{ errores['descripcion'] }}
                </p>
            {% endif %}
        </section>
    {% endif %}

{% endblock %}
