{% extends "base.html" %}

{% block title %}Crear nuevo Usuario{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
    <form action="/users/validate" method="POST" enctype="multipart/form-data" class="formulario">
        
            <h2>REGISTRATE</h2>

            <article>
                <input class="entrada" type="text" id="nombre" name="nombre" maxlength="20" pattern="[A-Za-zÀ-ž\s]{3,20}" placeholder="&#128100; Nombre *" value="{{ nombre }}" required>
            </article>

            <article>
                <input class="entrada" type="text" id="apellido" name="apellido" maxlength="20" pattern="[A-Za-zÀ-ž\s]{3,20}" placeholder="&#128100; Apellido *" value="{{ apellido }}" required>
            </article>

            <article>
                <input class="entrada" type="email" id="email" name="email" placeholder="&#128100; Email *" value="{{ email }}" required>
            </article>

            <article>
                <input class="entrada" type="tel" id="tel" name="tel" pattern="[0-9]{2,4}[0-9]{6,8}" placeholder="&#128222; 1145252525 *" value="{{ tel }}" required>
            </article>

            <article>
                <input class="entrada" type="password" id="pass" name="pass" pattern=".{8,50}" value="{{ pass }}" title=" La contraseña debe tener 8 caracteres o más *" placeholder="&#128273; Contraseña *" required>
            </article>


            <article class="botonU">
                <input type="submit" name="submit" value="Registrarme" >
                <input type="reset" name="limpiar" value="Limpiar" >
            </article>

            <article>
                * <small>Este dato es requerido</small>
            </article>
    
    </form>
{% endblock %}
