{% extends "base.html" %}

{% block title %}Crear nuevo Usuario{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
    <form action="/users/update" method="POST" enctype="multipart/form-data">
        <fieldset id="vistaModificar">
            <legend>Modificacion de Datos Personales</legend>

            <article>
                <label for="email">Email </label>
                <input type="email" id="email" name="email" value="{{ user.mail }}" readonly required>
                
            </article>

            <article>
                <label for="nombre">Nombre </label>
                <input type="text" id="nombre" name="nombre" maxlength="20" pattern="[A-Za-zÀ-ž\s]{3,20}" placeholder="Ingrese su nombre" value="{{ user.nombre }}" required>
                *
            </article>

            <article>
                <label for="apellido">Apellido </label>
                <input type="text" id="apellido" name="apellido" maxlength="20" pattern="[A-Za-zÀ-ž\s]{3,20}" placeholder="Ingrese su apellido" value="{{ user.apellido }}" required>
                *
            </article>

            <article>
                <label for="tel">Teléfono </label>
                <input type="number" id="tel" name="tel" pattern=[0-9\+][0-9]{13} placeholder="Ingrese su teléfono" value="{{ user.telefono }}" required>
                *
            </article>

            <article>
                <label for="pass">Contraseña </label>
                <input type="password" id="pass" name="pass" pattern=".{8,50}" required>
                *
            </article>

            <article>
                * <small>Este dato es requerido</small>
            </article>

            <article class="boton">
                <input type="submit" name="submit" value="Cambiar" style ="height: 40px; width: 80px;">
            </article>
        </fieldset>
    </form>
{% endblock %}
