{% extends "base.html" %}

{% block title %}Inicio Sesion{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/formularios.css">
{% endblock %}

{% block main %}

    <form action="/users/sesion" method="POST" enctype="multipart/form-data" class="formulario">
        <h2>INICIAR SESIÓN</h2>
            <div>
                <input class="entrada" type="email" id="email" name="email" placeholder="&#64; Email" value="{{ mail }}" required>
            </div>

            <div>
                <input class="entrada" type="password" id="pass" name="pass" pattern=".{8,50}" minlength="8" placeholder="&#128274; Contraseña" required>        
            </div>

            <div class="botonU">
                <input type="submit" name="submit" value="Login" >
            </div>

    </form>

    {% if erroresInicio is not empty %}
        <p id="datosIncorrectos">Usuario o Contraseña Incorrecto</p>
    {% endif %}
{% endblock %}
