{% extends "base.html" %}

{% block title %}Datos Personales{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <meta name="keywords" content="PAW,2018,Templates,PHP">
{% endblock %}

{% block main %}
<h2>Datos Personales</h2>
<section>
    <dl>
        <dt>Nombre:</dt><dl>{{user.nombre}}</dl>
        <dt>Apellido:</dt><dl>{{user.apellido}}</dl>
        <dt>Email:</dt><dl>{{user.mail}}</dl>
        <dt>Telefono:</dt><dl>{{user.telefono}}</dl>
    </dl>

</section>
{% endblock %}
